body {
/**    font-size:xx-large; **/
/**    background:rgb(255,255,25); **/
/**     color:rgb(0, 0, 0) **/
}

#distance {
    width:1px;
    height:10%;
    float:left;
}

#logo {
    text-align:center;
    clear: left;
    margin: 20px auto;
    position: relative;
}

#suchfeld {
    font-size:30px;
    width: 40%;
}

#abschicken {
    font-size:20px;
}

#ergebnisse {
    text-align:left;
    margin:0px 80px auto;
}

.title {
    padding-top:10px;
}

.title a{
    font-size: 25px;
}
.page{
    color: red;
}

.content{
    color: #e8e500;
}

#footer {
    position: fixed;
    bottom: 0px;
    font-size:12px;
}

*html #footer {
    position: absolute;
    bottom: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link {color:rgb(0, 0, 0)}  
a:visited {color:rgb(0, 0, 0)} 
