body {
    font-size:xx-large;
/**    background:rgb(255,255,25); **/
/**     color:rgb(0, 0, 0) **/
}

#distance {
    width:1px;
    height:50%;
    float:left;
}

#logo {
    text-align:center;
    clear: left;
    margin: 20px auto;
    position: relative;
}

#suchfeld {
    font-size:30px;
    width: 60em;
}

#abschicken {
    font-size:20px;
}

#text {
    text-align:center;
    clear: left;
    margin:0px auto;          
    position: relative;
}

#footer {
    position: fixed;
    bottom: 0px;
    font-size:10px;
}

*html #footer {
    position: absolute;
    bottom: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/** a:link {color:rgb(220, 220, 220)}  
a:visited {color:rgb(220, 220, 220)} **/
